@media screen and (max-width: 1000px) {
    .Name-Image-div , .About-div{
        margin-top: 30%;

    }
    .Main-Div{
        margin: 0px;
        padding: 0px;
        border: 0px;
        width: 100%;
    
    }
    
    .Navigation-div{
        margin: 0px;
        padding: 0px;
        border: 0px;
        width:100%;
        height: 80px;
        background-color: rgb(0, 0, 0);
    }
    .Navigation-div nav{
        height: 100%;
    }
    
    .Navigation-div nav ul{
        margin: 0px;
        padding: 0px;
        border: 0px;
        display: flex;
        list-style: none;
        height: 100%;
    
        
    }
    .Navigation-div nav ul div{
        margin: 0px;
        padding: 0px;
        border: 0px;
        margin-left: 50px;
        height: 100%;
        padding-top: 20px;
        background-color: none;
    }
    .Navigation-div nav ul div a{
        text-decoration: none;
    }
    
    .Navigation-div nav ul div a li{
        color: aliceblue;
        background-color: none;
        font-size: large;
        font-family: "Times New Roman", Times, serif;
        
    }
    .first-div{
        width: 100%;
        display: block;
    }
    .Name{
        width: 100%;
        height: max-content;
        /* background-color: red; */
    }
    .Name h1{
        font-size: 30px;
        padding-left: 0px;
        text-align: center;
    }

    .Name h6{
        text-align: center;
        font-size: 17px;
    }
    .Name p a .abc{
        margin-left:calc(100%/5) ;
    }

    .typewriter{
        /* background-color: blueviolet; */
        text-align: center;
        margin-left: 0px;
        margin-top: 0px;
        /* text-align: center; */
        width: 100%;
    }
    .image{
        /* position:absolute; */
        width: 70%;
        height: 50%;
        padding: 1%;
        padding-left: 15%;
        /* background-color: blue; */
    }
    .image img{
        width: 100%;
        height: auto;
    }
    .Name-Image-div {
        display: block;
    }
    .Name-Image-div , .About-div{
        width: 80%;
        height: max-content;
        padding-bottom: 10%;
        margin-left: 8%;
        border-radius: 20px;
        background-image: linear-gradient(rgba(12, 2, 36, 0.312),rgba(7, 14, 105, 0.5));
        border: none;
        box-shadow: 5px 5px 20px rgb(17, 1, 104);
    }
    
    .content p{
        font-size: medium;
    }

    .project-div{
        width: 70%;
        height: 300px; 
    }
    
    .projects-content{
        height: 100%;
        margin: 2.5%;
        width: 200px;
        
    }
    
    .projects-content:hover{
        transform: scale(1.05);
        background-color: rgba(46, 0, 153, 0.178);
    }
    
    .projects-content button{
        width: 150px;
        font-size: medium;
    }
    .projects-content button:hover{
        background-color: rgba(31, 0, 80, 0.788);
        box-shadow: 5px 5px 25px rgba(61, 78, 1, 0.452);
    }
    .projects-content img{
        width: 200px;
    }
    .projects-content h2{
        color: white;
        width: 100%;
        /* height: 200px; */
        word-wrap: break-word; /* Ensure content wraps */
        overflow-wrap: break-word; /* Ensure content wraps */
        word-break: break-word; /* Break long words */
        white-space: normal; /* Ensure text can wrap */
        /* background-color: blanchedalmond; */
        height: max-content;
        font-size: large;
    }
    
    .projects-content a{
        text-decoration: none;
        color: wheat;
    }
    
    .projects-content a:hover{
        text-decoration: none;
        color: rgb(2, 126, 13);
    }
    
    .projects-content p{
        text-align: left;
        color: white;
    }
    .content1{
        /* text-align: center; */
        padding-left:5% ;
        padding-bottom: 30%;
    }
    
    .content1 p, .content1 p a{
        text-align: left;
        font-size: large;
        color: white;
        text-decoration: none;
    }
    
    .content1 p a{
        cursor:pointer;
    }

    .Name-Image-div , .About-div{
        margin-top: 30%;

    }


    
    .Navigation-div {
        display: none; /* Hide the sidebar navigation */
    }
    .Navigation-div{
        position: fixed;
        margin: 0px;
        /* margin-top: 80px; */
        padding: 0px;
        border: 0px;
        width:100%;
        text-align: center;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.39);
        z-index:100
    }
    
    .Navigation-div nav{
        margin: 0px;
        padding: 0px;
        border: 0px;
        height: 100%;
    }
    
    .Navigation-div nav ul{
        margin: 0px;
        padding: 0px;
        border: 0px;
        display: block;
        list-style: none;
        height: 100%;
    
        
    }
    .Navigation-div nav ul div{
        margin: 0px;
        padding: 0px;
        border: 0px;
        height: 100px;
        width: 100%;
        padding-top: 20px;
        background-color: none;
        
    }
    .Navigation-div nav ul div a{
        
        text-decoration: none;
    }
    
    .Navigation-div nav ul div a li{
        color: aliceblue;
        background-color: none;
        font-size: xx-large;
        font-family: "Times New Roman", Times, serif;
        
    }

    .sidebar-toggle {
        display: block; 
        position: fixed;
        background-color: rgb(255, 255, 255);

    }
    
    #toggleNav{
        background-color: rgb(0, 0, 0);
        border: none;
        width: 80px;
        height: 80px;
        z-index: 100px;
    }
    
    #toggleNav img{
        font-size: 40px;
        width: 50px;
        z-index: 100px;

       
    }
  }

