body{
    margin: 0px;
    padding: 0px;
    border: 0px;
    /* background-color: red; */
    overflow-y: auto;
    overflow-x: hidden;
    /* overflow: scroll; */
}
::-webkit-scrollbar {
    width: 0px; 
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: none; 
    height: 10px; 
}
.Main-Div{
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 100%;

}

.Navigation-div{
    position: fixed;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width:100%;
    height: 80px;
    background-color: rgb(0, 0, 0);
}

.Navigation-div nav{
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 100%;
}

.Navigation-div nav ul{
    margin: 0px;
    padding: 0px;
    border: 0px;
    display: flex;
    list-style: none;
    height: 100%;

    
}
.Navigation-div nav ul div{
    margin: 0px;
    padding: 0px;
    border: 0px;
    margin-left: 50px;
    height: 100%;
    /* align-items: center; */
    padding-top: 20px;
    background-color: none;
    /* overflow: ; */
}
.Navigation-div nav ul div a{
    text-decoration: none;
}

.Navigation-div nav ul div a li{
    color: aliceblue;
    background-color: none;
    font-size: xx-large;
    font-family: "Times New Roman", Times, serif;
    
}

.Body-div{
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    height:max-content;
    background-image: url(1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.first-div{ 
    
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 100%;
    padding-top: 2.5%;
    height: max-content;
    background-image: linear-gradient(rgba(0, 0, 0),rgb(5, 9, 59,0.6),rgb(24, 3, 54));

}

.Name-Image-div , .About-div{
    margin-top: 5%;
    display: flex;
    width: 90%;
    margin-left: 6%;
    height: 650px;
    border-radius: 20px;
    background-image: linear-gradient(rgba(12, 2, 36, 0.312),rgba(7, 14, 105, 0.5));
    border: none;
    box-shadow: 10px 10px 50px rgb(17, 1, 104);
    /* background-color: rgba(5, 2, 32, 0.771); */
}

.image{
    padding-left: 5%;
    width: 50%; 
    height: auto; 
    background-color: none;
    align-items: center;
}

.image img{
    width: 90%;
    height: max-content;
    opacity: 0.6;
    /* padding-left: 10%; */
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0))
}

.Name{
    width: 60%; 
    height: auto; 
    text-align: left;
    align-content: center;
    font-size: 40px;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    /* background-color: red;  */
}

.Name h1{
    margin: 0px;
}
.Name .skill-h6{
    margin: 20px 0px 20px 0px;
}
.typewriter{
    width: max-content; 
}
.typewriter h6{
    margin: 0px;
}

#typewriter-text{    
    display: inline-block;
    border-right: 0.1em solid;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 4s steps(30, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: rgb(255, 255, 255); }
}

.About-div{
    text-align: center;
    height: max-content;
    display: block;
    /* background-color: red; */
    padding-bottom: 2%;
}

.About-div h1{
    padding-top: 2%;
    color: white;
    font-size: xx-large;
}
.content{
    width: 100%;
    height: max-content;
    padding-left: 15%;

}
.About-div p{
    color: white;
    font-size: xx-large;
    text-align: justify;
    width: 70%;

}

.project-div{
    /* background-color: rgb(255, 0, 0); */
    /* background-image: linear-gradient(rgba(49, 4, 66, 0.363),rgba(7, 5, 100, 0.541)); */
    box-shadow: 10px 20px 50px rgba(0, 255, 85, 0.11);
    width: 70%;
    height: 500px;
    border-radius: 30px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    display:flex;
    align-items: center;
    border: none;

}

.projects-content{
    height: 90%;
    margin: 2.5%;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.178);
    border-radius: 20px;
    flex: 0 0 auto;
    align-items: center;
    text-align: center;
    
    
}

.projects-content:hover{
    transform: scale(1.05);
    background-color: rgba(46, 0, 153, 0.178);
}

.projects-content button{
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border: none;
    background-color: rgba(2, 2, 73, 0.788);
    box-shadow: 10px 10px 50px rgba(1, 78, 1, 0.452);
    color: rgb(255, 255, 255);
    font-size: large;
    cursor: pointer;
}
.projects-content button:hover{
    background-color: rgba(31, 0, 80, 0.788);
    box-shadow: 10px 10px 50px rgba(61, 78, 1, 0.452);
    transform: scale(1.05);
    transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s;
}
.projects-content img{
    width: 400px;
    height: auto;
    border-radius: 20px 20px 0px 0px;
}
.projects-content h2{
    color: white;
}

.projects-content a{
    text-decoration: none;
}

.projects-content a:hover{
    text-decoration: none;
    color: rgb(2, 126, 13);
}

.projects-content p{
    color: white;
}

.content1{
    padding-left:5% ;
}

.content1 p, .content1 p a{
    font-size: large;
    color: white;
    text-decoration: none;
}

.content1 p a{
    cursor:pointer;
}

.skill-ability-div h2{
    color: white;
}

.skill-ability-div img{
    border-radius: 20px; 
    width: 80px; 
    height: 80px;
    margin: 1%;
}

.skill-ability-div img:hover{
    transform: scale(1.5);
    box-shadow: 10px 10px 50px rgba(0, 128, 0, 0.705);
    transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s;
}




